@media(max-width: 1399px)

  .services
    padding-top: 60px
    padding-bottom: 0
    &::before 
      height: 370px
      top: 255px
    &-row__wrapper
      background-color: transparent
      box-shadow: none
      margin-top: 20px
      //display: none
    
    &-item, &-item1, &-item2, &-item3, &-item4, &-item5
      width: 28.9%
      padding: 15px 0px
      height: 200px
      //background-color: rgba(255, 255, 255, .8)
      
      background-color: $white
      box-shadow: 0 0 12px rgba(0,0,0,0.1)
      border-radius: 30px

      position: relative 
      &__button 
        bottom: -25px
        // position: relative
        // top: unset
        // left: unset
        // margin: 0 auto
        // bottom: unset
        // display: block
        // max-width: 150px 
      &__img 
        img 
          width: auto
      &:nth-child(2)
        margin: 0 4%
      &:nth-child(4)
        margin-right: 4%

      &:nth-child(4), &:nth-child(5)
        margin-top: 50px

    &:last-child 
      margin-top: 100px

    &__title
      &-wrapper
          
  
  
  
  
@media(max-width: 1199px)
  .header-nav 
    .navbar-brand
      width: 200px
      img 
        width: 100%


  .header-nav .navbar-nav li a
    font-size: 20px
  

  .sidebar 
    margin-top: 20px
    .menu-item-has-children
      &:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4)
        width: 49%
        display: inline-block
        vertical-align: top
        padding-right: 10px
        .sub-menu 
          margin-bottom: 40px

      

  .products-grid
    margin-top: 40px
    padding-bottom: 30px

  section 
    //padding: 60px 0px

    &.services 
      //padding: 60px 0px


      

  .order-form, .order form
    top: 35px

  .order-photo
    width: 55%


  .picture
    height: fit-content
    padding-bottom: 20px
    
    &-img 
      img 
        height: 100%

    &-content 
      
      a 
        

        &.link-systems, &.link-septics, &.link-hidro, &.link-pumps
          

        &.link-systems
          top: 112px
          

        &.link-septics
          top: 225px
          

        &.link-hidro
          top: 112px
          

        &.link-pumps
          top: 225px
          
  
  .contacts 
    &-grid
      margin-top: 0px
    &-info
      width: 100%

    &-map 
      right: 33%

    &-form 
      
      width: 500px
      margin: 0 auto
      margin-top: 130px

  .services
    .services-item
      width: 28.9%
      &:last-child 
        //margin-top: 100px

      &__title
        &-wrapper

  .advantages-item2
    .advantages-item__title
      margin-left: -105px
      left: 50%
      top: 105px
    &__img 
      img 
        width: 100%

  .advantages-item1, .advantages-item3 
    padding: 25px 25px 20px 25px

  .advantages-item__img-1, .advantages-item__img-2, .advantages-item__img-3
    width: 30%
          
  .about-main__exp-title 
    top: 60px

  .about-main__do-txt 
    padding-top: 40px
  .about-main__do-descr
    margin-top: 0px

  .about-main__info 
    margin-top: 50px

  .footer-menu
    &__contacts
      width: 29%
    &s
      width: 70%
    
      li.menu-item-has-children
        width: 49%
        &:last-child
          display: none

  .posts-grid__item
    height: 220px
    &-descr 
      p 
        line-height: 18px


@media(max-width: 991px)
  .header-nav 
    padding: 0px
    box-shadow: unset
    //display: none
    .navbar
      padding: 5px
      // position: unset
      &-brand
        display: none

    button.navbar-toggler
      position: absolute
      left: 0
      //display: block 
      top: -66px
      width: 70px
      height: 50px
      background-color: $white
      border-radius: 30px

      .navbar-toggler-icon
        font-size: 12px
        line-height: unset
        height: 100%
        width: 60%
        padding: 12px 0px 5px 0px
        img 
          width: 100%
          vertical-align: top
          display: block
          margin-bottom: 2px


    .navbar.navbar-expand-lg
      position: absolute
      .navbar-collapse
        
        position: absolute
        // top: -21px
        top: 0
        width: 700px
        background-color: white
        z-index: 100
        // text-align: center
        padding: 15px 5px
        border: 1px solid $marine
        margin-top: 0
        .navbar-nav 
          flex-direction: column
          li 
            a 
              font-size: 18px

        .sub-menu
          display: block
          position: relative
          top: unset
          width: unset
          border: none
          
          
          li 
            border: none
            a 
              font-size: 16px

          .sub-menu 
            display: none
        

  .header-top__wrapper
    justify-content: flex-start
  .header-top__time, .header-top__map, .header-top__mail 
    display: none

  .header-top__phones
    margin-left: 20px

  .header-top__menu-mobile
    width: 70px
    height: 50px
    border-radius: 20px
    // background-color: $white

  .header-top__logo-mobile
    display: block
    // background: url(../img/header/logo-top.png) center no-repeat
    // background-size: contain
    border-radius: 30px
    background-color: $white
    width: 30%
    height: 80%
    padding: 10px 10px
    margin-left: 20px
    img 
      width: 100%

  section 
    padding: 60px 0px

    &.advantages
      padding: 50px 0px 70px 0px

    &.services 
      padding: 40px 0px 0px 0px

    .section-title, .section-title-left
      h1, h2 
        font-size: 28px
        text-align: center

    .section-title-left
      flex-direction: column
      align-content: center 
      justify-content: center 
      align-items: center 
      justify-items: center 
      .section-img 
        margin: 0 auto 
        margin-top: 15px
      h1, h2 
        max-width: 500px

    .section-subtitle
      margin-bottom: 30px  
  


  .search 
    .subtitle 
      text-align: center
      h2
        font-size: 20px

  .picture
    height: fit-content
    padding-bottom: 0px
    
    &-img 
      img 
        height: 100%

    &-content 
      
      a 
        font-size: 11px
        width: 150px
        line-height: 12px
        

        &.link-systems, &.link-septics, &.link-hidro, &.link-pumps
          

        &.link-systems
          top: 82px
          padding: 8px 5px
          

        &.link-septics
          top: 178px
          padding: 8px 5px
          

        &.link-hidro
          top: 82px
          padding: 8px 5px
          

        &.link-pumps
          top: 178px
          padding: 8px 5px


  .footer-logo
    max-width: 200px


  .footer-menus 
    display: none

  .footer-menu__items
    width: 100%
      
    
  .footer-menus li.menu-item-has-children
    width: 40%

  .footer-menu__contacts
    width: 100%
    margin-top: 15px
    margin-left: 20px
    float: unset
  
  .footer-menu__time, .footer-menu__map
    display: none

  .footer-menu__phones, .footer-menu__mail
    width: 49%
    display: inline-block

  .footer-menu__phones
    float: left
    .phone-txt 
      width: 150px
  .footer-menu__mail


  .contacts
    &-grid
      margin-top: 30px
    .section-subtitle
      margin-bottom: 0


  

  .products
    &-grid 
      //padding-top: 60px
      margin-top: 0
    .products-item
      width: 80%
      margin: 0 auto 30px auto
      &__img
        //height: 140px 
        //width: 150px
    &-left__font
      top: 150px

    &-main 
      &__grid 
        margin-top: 60px
        .products-main__item 
          height: 215px
          width: 100%
          max-width: 470px  
          margin: 0 auto 70px auto
  
    

  // .footer-menu__map, .footer-menu__phones
  //   width: 50%



  .services
    &::before
      height: 70% 
      background-repeat-y: repeat
      background-size: auto
      top: 185px


    &-page 
      &-list 
        margin-top: 5px
      &-descr 
        &:first-child
          margin-top: 27px

        p 
          text-align: justify
          text-align-last: center
          &:last-child
            margin-bottom: 0
      h2
        margin-top: 25px
        text-align: center

    

    .services-item
      width: 43.9%
      &:nth-child(1), &:nth-child(3)
        margin: 0 2% 0 0
      &:nth-child(2), &:nth-child(4)
        margin: 0 0 0 2%

      &:nth-child(3), &:nth-child(4), &:nth-child(5) 
        margin-top: 60px

      &__title
        &-wrapper

    &-row__wrapper
      margin-top: 0

  .services-main
    &__item 
      padding: 20px 20px 30px 20px
    &__descr
      margin-top: 30px
      .text 
        margin-bottom: 15px
        text-align: justify
        text-align-last: center

      .phones
        margin-top: 10px
        a 
          //padding-top: 10px

    &__grid 
      margin-top: 30px

  .advantages-row
    margin-top: 15px


  .advantages-item2
    margin-top: 30px
    .advantages-item__title
      margin-left: -105px
      left: 50%
      top: 105px
    &__img 
      img 
        width: 290px

  .advantages-item1, .advantages-item3 
    .advantages-item__title
      font-size: 20px
      //margin-bottom: 0
    padding: 35px 10px 25px 10px
    .advantages-item__imgs
      margin-top: 10px

  .advantages-item__img-1, .advantages-item__img-2, .advantages-item__img-3
    width: 31.99%
    text-align: center
    img 
      width: 150px
      margin: 0 auto


  .order 
    padding-bottom: 70px
    &-subtitle
      margin-top: 40px
    .order
      &-form
        padding: 30px 35px 40px 35px
        width: 100%
        position: relative
        top: unset 
        left: unset 

      &-photo
        display: none
        

  .about
    .about
      &-photo
        &__wrapper 
          width: 80%
          text-align: center 
          margin: 40px auto 0px auto 
        left: 50%
        margin-left: -218px

      &-txt 
        margin-top: 50px

  .posts-grid
    margin-top: 40px
    &__item
      width: 100%
      max-width: 500px
      margin: 0 auto
      margin-bottom: 60px
      &.item-last
        width: 100%

  .sidebar  
    height: fit-content



@media(max-width: 767px)
  .services
    &::before
      height: 81%
      // height: 70% 
      // background-repeat-y: repeat
      // background-size: auto
      // top: 185px

    .services-item

      &:nth-child(1), &:nth-child(3)
        margin: 0 0 45px 0
      &:nth-child(2), &:nth-child(4)
        margin: 0 0 45px 0

      &:nth-child(3), &:nth-child(4), &:nth-child(5) 
        margin-top: 0px
        
      width: 100%
      max-width: 340px  
      padding: 20px 0px
      //margin-bottom: 45px
     

  section 
    .section-title, .section-title-left
      h1, h2 
        font-size: 25px
    &.posts
      padding-bottom: 60px
    .section-title-left
      .section-img 
        display: none
  


  .header-nav .navbar.navbar-expand-lg 
    .navbar-collapse
      width: 550px

  .header-nav .navbar.navbar-expand-lg .navbar-collapse 
    padding-bottom: 0
    padding-top: 30px
    width: 300px
    .sub-menu
      display: none

  .header-nav 
    
    .navbar 
      li 
        margin-bottom: 25px
      .navbar-toggler
        top: -61px

  .header-top 
    padding: 0px

  .header-top__logo-mobile
    padding: 7px 17px 9px 17px
    width: 35%
    // height: 45px

  .header-top__mail 
    // display: none

  .header-top__search
    display: none

  .header-top__phones
    margin-left: 0px
    margin-top: 5px
    position: absolute
    right: 15px
    top: 10px
    .phone-txt
      width: 120px
      a 
        font-weight: bold 
        text-align: right

  .header-top__wrapper
    
    padding: 10px 0px


  .picture
    background: url('../img/index/header-bg.jpeg') center no-repeat
    height: 300px
    // // height: fit-content
    background-size: cover
    &-img 
      img 
        display: none
        // width: 100%

    &-content 
      
      a 
        
        

        &.link-systems, &.link-septics, &.link-hidro, &.link-pumps
          

        &.link-systems
          

        &.link-septics
          

        &.link-hidro
         

        &.link-pumps
         
  .about
    .about 
      &-txt
        margin-top: 30px
        &__descr
          margin-bottom: 15px


  .about-main__subtitle
    text-align: justify
    text-align-last: center
    margin-bottom: 15px

  .about-main__exp-img, .about-main__do-img
    display: none

  .about-main__exp-title, .about-main__do-title
    position: relative
    top: unset
    left: unset 
    right: unset
    text-align: justify
    text-align-last: center
    margin-bottom: 10px

  .about-main__do-descr, .about-main__exp-descr
    margin-top: 0px
    text-align: justify
    text-align-last: center
    margin-bottom: 0

  .about-main__info 
    margin-top: 40px

  .footer 
    padding: 25px 0px 0px 0px

    
  
  .footer-menu__contacts
    margin-top: 7px

  .footer-menu__phones, .footer-menu__mail
    width: 100%

  .footer-menu__phones
    float: unset

  .footer-bottom
    padding: 15px 
    margin-top: 25px

  .footer-bottom__copy, .footer-bottom__politics
    text-align: center

  .footer-bottom__copy
    margin-bottom: 5px
  
  .contacts
    &-grid 
      margin-top: 20px
    &-map 
      right: 0
      top: 80px
      width: fit-content
      // height: 400px

    &-info 
      margin-top: 0px

    &-form 
      margin-top: 150px
      width: 100%


  .products
    .products-item
      width: 100%
      //margin: 0 auto 30px auto
      &__img


  .advantages-row
    margin-top: 40px

  .advantages-item2
    margin-top: 20px
    margin-bottom: 20px
   
    .advantages-item__title
   
    &__img 
      img 
       

  .advantages-item1, .advantages-item3 
    width: 100%
    margin: 0 auto
    .advantages-item__title
      font-size: 18px
      

  .advantages-item__img-1, .advantages-item__img-2, .advantages-item__img-3
    width: 30.99%
    
    img 


  .order 
    .order
      &-form
        //padding: 30px 35px 40px 35px
        &__mail, &__text
          margin-top: 20px


  .about
    .about
      &-photo
        position: relative
        top: unset
        left: unset
        height: fit-content
        width: 100%
        text-align: center
        margin-left: 0
       
        img 
          width: 95%
          height: unset
        &__wrapper 
          width: 85%
          height: unset
          padding: 15px
          

      &-txt 

  .sidebar 
    .menu-item-has-children
      &:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4)
        width: 100%
        // display: inline-block
        // vertical-align: top
        // padding-right: 10px
        .sub-menu 
          // margin-bottom: 40px     
     

  .posts-grid
    //margin-top: 40px
    &__item
      //width: 100%
      //max-width: 500px
      //margin: 0 auto
      margin-bottom: 40px
    

  #orderModal 
    .modal-dialog 
      .modal-body
        padding: 10px 10px 40px 10px

      .order-form
        padding: 25px
        &__button
          right: 50%
          margin-right: -80px


@media(max-width: 575px)
  .services-row__wrapper 
    padding-top: 30px

  section 
    padding: 50px 0px 
    &.services 
      padding: 20px 0px 0px 0px
    &.advantages, &.posts-page 
      padding: 40px 0px 60px 0px
    &.posts
      padding-bottom: 30px

    .section-title, .section-title-left 
      h1, h2 
        font-size: 23px

  .sidebar 
    margin-top: 10px

  .header-top__wrapper
    // height: 100%
    // padding: 5px 0px

  .header-nav .navbar .navbar-toggler
    width: 60px

  .header-nav button.navbar-toggler .navbar-toggler-icon 
    
    width: 80%
    padding: 10px 0px 1px 0px

  .header-top__menu-mobile
    width: 55px

  .header-top__logo-mobile
    width: 140px
    padding: 9px 17px 11px 17px
    margin-left: 15px

  .about-main__info 
    padding: 20px 20px 10px 20px
    margin-top: 30px
    p 
      margin-bottom: 10px

  .about-main__subtitle
    margin-top: 20px
  .about-main__exp-title, .about-main__do-title
    padding: 0px 5px
    text-align: center

  .about-main__do-txt
    padding-top: 30px

  .header-top__mail 
    // display: block

  .header-top__phones 
    margin-left: 25px

  .footer 
    padding: 20px 0px 0px 0px

    &-bottom
      margin-top: 20px
      padding: 10px 5px

  .footer-menu__contacts, .footer-logo 
    text-align: center
    width: 100%
    margin: 0 auto

  .footer-menu__contacts
    margin-top: 20px

  .footer-menu__items 
    width: 90%
    margin: 0 auto

    .mail-icon 
      //float: unset

    .mail-txt
      margin-left: 0

  .footer-menu__phones 
    width: 210px
    margin-bottom: 0
    .phone-txt
      width: unset 
      margin-left: 0
      float: unset
      display: inline-block

    .phone-icon 
      margin-left: 0px
      display: inline-block
      float: unset
      img 
        margin-bottom: 20px

  .footer-menu__mail
    width: 150px
    display: block
    text-align: center
    margin: 0 auto
    .mail-txt, .mail-icon 
      display: inline-block
    .mail-icon 
      float: none

    .mail-txt


  .contacts
    &-map 
      // right: 80%
      // width: 20%
    &-grid 
      margin-top: 10px


  .products
    .products-item, .products-item1, .products-item2, .products-item3, .products-item4
      padding: 25px
      text-align: center
      height: fit-content
      width: 80%
      padding: 30px
      &__title 
        font-size: 19px
        text-align: center

      &__img 
        float: unset
        margin: 0 auto
        padding: 0
        margin-bottom: 10px

      &__descr 
        margin-top: 10px
      &__txt-subtitle
        padding-left: 0
        font-size: 18px

      &__txt-list
        text-align: left
        padding-left: 15%

      &__button 
        position: relative
        width: 100%
        bottom: unset 

        // width: 140px
        // height: 120px

    .products-grid 
      padding-top: 30px
      //padding-bottom: 0

  .services
    &-page
      &-descr
        &:first-child
          margin-top: 20px
    &-main__descr
      margin-top: 20px
    &-main__grid 
      margin-top: 20px
    .services-item
      width: 100%
      
      margin-top: 90px
      &:first-child 
        margin-top: 0

      &__title
        &-wrapper


  .advantages-item2
    
   
    .advantages-item__title
   
    &__img 
      img 
       

  .advantages-item1, .advantages-item3 
    width: 90%
    padding: 25px 10px 20px 20px
    .advantages-item__title
      

  .advantages-item__img-1, .advantages-item__img-2, .advantages-item__img-3
    width: 30.99%
    
    img 
      width: 100%


  .order 

    .order
      &-subtitle
        margin-top: 30px
      &-form
        //padding: 30px 35px 40px 35px
        &__button
          right: 50%
          margin-right: -75px


  .about
    .about
      &-photo
        
        img 
          
        &__wrapper 
          margin-top: 30px
          width: 100%
        

      &-txt 
        
  .posts-grid
    margin-top: 30px

  .posts-page__content
    margin-top: 20px
    img 
      margin-bottom: 10px

@media(max-width: 500px)
  
  .products
    .products-item
      
      width: 100%
      //padding: 30px

  .products-main
    &__grid 
      .products-main__item
        height: fit-content
        text-align: center
        padding: 40px 15px 30px 15px
        &-title 
          text-align: center
          &-wrapper 
            width: 100%
            left: 0
        &-img 
          float: none
          margin: 0 auto
          height: 150px
          width: 100%  
        &-descr
          padding-left: 0
          &-title
            padding-left: 0
            margin-top: 10px
            margin-bottom: 5px
            

          &-list 
            text-align: left
            padding-left: 12%

        &-button 
          right: 50%
          margin-right: -80px
          //bottom: -30px



  .section-img 
    display: none

  .posts-grid__item 
    flex-direction: column
    height: unset 
    max-width: 370px
    padding: 20px
    margin-bottom: 45px

  .posts-grid__item-img
    margin:  0 auto
    margin-bottom: 20px

  .posts-grid__item-button 
    right: 50%
    margin-right: -80px

  .posts-grid__item-txt 
    text-align: center 
    padding-left: 0

  .card-descr 
    flex-direction: column
    justify-content: center
    align-content: center 
    justify-items: center 
    align-items: center
    &__img 
      margin-left: 0
      
      &-wrapper 
        top: 25px 
        //left: 0

    &__txt 
      margin-left: 0
      //align-content: center
      //justify-items: center
      text-align: center



@media(max-width: 400px)
  .header-nav 
    .navbar 
      .navbar-toggler
        top: -60px

  .header-top__menu-mobile
    width: 60px
  .header-top__logo-mobile
    display: none

  .header-top__phones
    margin-top: 0px
    position: relative
    right: unset
    top: unset
    text-align: right
    .phone-txt
      margin-left: 3px
      display: inline
      width: fit-content
      a 
        font-weight: bold 
        
    .phone-icon
      display: inline
      img 
        margin-top: 0px
        margin-bottom: 0
        margin-right: 5px

  .header-top__phones .phone-txt a
    display: inline-block
  .header-top__phones .phone-txt a:last-child
    margin-left: 20px

  //.header-top__phones .phone-icon 
    //margin-bottom: 5px




  .picture
    
    &-img 
      img 
        

    &-content 
      
      a 
        

        &.link-systems, &.link-septics, &.link-hidro, &.link-pumps
          left: 50%
          margin-left: -75px
          

        &.link-systems
          top: 42px
          

        &.link-septics
          top: 162px
          
          

        &.link-hidro
          
          top: 222px
         

        &.link-pumps
          
          top: 102px




  .footer-menu__contacts
    margin-left: 0px

  .products
    .products-item
      padding: 25px



  .advantages-item2
    
   
    .advantages-item__title
   
    &__img 
      img 
       

  .advantages-item1, .advantages-item3 
    width: 100%
    padding: 25px 15px 20px 20px
    .advantages-item__title
      font-size: 17px
      

  .advantages-item__img-1, .advantages-item__img-2, .advantages-item__img-3
    width: 30%
    
    img 
      //width: 100%

  .order 
    .order
      &-form
        padding: 25px 25px 30px 25px
        &__button
          // right: 50%
          // margin-right: -80px



  .products-main__item-txt
    flex-direction: column

  .products-main__item-img
    max-height: unset 
    margin: 0 auto 

  .products-main__item-descr
    margin-top: 20px
    margin-left: 0
    padding-left: 50px

  .products-main__item-title
    &-wrapper
      width: 100%
      left: 0
      padding: 10px 15px

    text-align: center

  .products-main__item-button
    right: 50%
    margin-right: -75px



// @media(max-width: 480px)



// @media(max-width: 350px)

// @media(max-width: 991px)

@media(min-width: 768px)

  button, .button 
    &:hover 
      background-color: $dark
      border-color: $dark
      color: $white 
      text-decoration: none

      transition: all .5s 



  .header 
    &-nav
      .navbar
        &-toggler
          &:hover, &:focus 
            border-color: $marine

        &-nav 
          li 
            a
              &:hover 
                color: $marine
                transition: .3s
                text-decoration: none 


  section
    .section
      &-subtitle
        a
          &:hover 
            color: $marine
            font-weight: bold
            text-decoration: none


  .footer 
    &-bottom 
      &__politics
        &:hover 
          cursor: pointer
          text-decoration: underline
          transition: .3s




  .products
    &-category
      &__item
        &-button
          a
            &:hover 
              color: $white
              text-decoration: none

  .posts
    &-grid
      &__item
        &-title h2
          &:hover
            text-decoration: none
            color: $dark

        &-button
          .button 
            &:hover 
              background-color: $dark
              transition: .4s all 

  .posts-page
    &-grid 
      &__item 
        &-title
          &:hover
            text-decoration: none
            color: $dark 

        &-button 
          .button
            &:hover 
              background-color: $dark
              transition: .4s all

  .picture
    &-content 
      a
        &:hover 
          cursor: pointer 
          color: $marine 
          background-color: $white
          border: 2px solid #15244f
          font-size: 13px

