.order 
  background-color: #f5f5f5//$gray
  position: relative
  //-webkit-box-shadow: 0 0 12px rgba(0, 0, 0, 0.1)
  //box-shadow: 0 0 12px rgba(0, 0, 0, 0.1)

  &-subtitle 
    margin-top: 50px
    margin-bottom: 30px
    font-size: 16px
    text-align: center
    

  &-form, form 
    width: 135%
    position: absolute
    top: 55px
    left: 0
    padding: 45px 50px 55px 50px
    border: 2px solid $marine
    border-radius: 50px
    background-color: $white
    z-index: 1
    box-shadow: 0 0 12px rgba(0,0,0,0.1)

    &__name, &__mail, &__text

      &-txt 
      &-input
        margin-top: 10px
        width: 100%
        border: 2px solid $marine
        background-color: $gray

    &__name, &__mail
      &-txt 
      &-input
        height: 50px
        padding-left: 20px 
    &__mail 
      margin-top: 23px
      &-txt 
      &-input

    &__name
      &-txt 
      &-input

    &__text
      &-txt 
        margin-bottom: 0
      &-input
        // height: 172px
        height: 165px
        padding-left: 20px
        padding-top: 20px
        
    

    &__button
      position: absolute
      // bottom: -32px
      bottom: -45px
      right: 50px
      input 
        width: unset
        padding: 10px 35px
        background-color: $white
        //bottom: -25px

    div.wpcf7-response-output
      margin: 10px 0px



  &-photo 
    margin-top: 10px
    width: 50%
    margin-left: auto
    img 
      width: 100%